<!-- views/partials/header.ejs -->
<div class="w3-container">
  <div class="w3-bar w3-blue">
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-xlarge">RBT Document</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-xlarge">Insert Document</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-xlarge">Profile</a>
  </div>
</div>
