<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>RBT Tool Document </title>
<link rel='shortcut icon' type='image/x-icon' href='layout/favicon.ico' />
<!-- CSS (load bootstrap from a CDN) -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="layout/w3.css">
<script src="layout/jquery.min.js"></script>
<script src="src/login.js"></script>
