<!-- views/partials/header.ejs -->
<div class=" w3-bar w3-blue ">
  <div class="w3-row-padding">
    <div class="w3-half">

    </div>
    <div class="w3-col" style="width:20%">
      <p class="w3-bar-item w3-button w3-mobile w3-xlarge">RBT Document</p>
    </div>
    <div class="w3-col" style="width:40%">
      <p></p>
    </div>
    <div class="w3-row-padding w3-rest">
      <div class="w3-col w3-third w3-border w3-hover-border-yellow w3-center w3-hover-yellow w3-green" id="register">
          <p class="w3-xlarge w3-text-black">Register</p>
      </div>
      <div class="w3-col w3-third w3-border w3-hover-border-yellow w3-center w3-hover-yellow w3-green" id="login"   onclick='$("#loginBox").toggle()'>
          <p class="w3-xlarge w3-text-black">Log in</p>
      </div>
      <div class="w3-col w3-third w3-border w3-hover-border-yellow w3-center w3-hover-yellow w3-green" id="logout" style="display: none;" onclick="logout()">
          <p class="w3-xlarge w3-text-black">Log out</p>
      </div>
    </div>
  </div>
</div>
