<div class="w3-row" id="editor" style="display: none;">
  <p class="w3-text-blue w3-xlarge"> Please type you document content in the below editor! </p>
  <div id="codeeditor" class="w3-threequarter w3-col w3-mobile"></div>
  <div id="resultSlate" class="w3-quarter w3-col"></div>
</div>

</div>
  <button class = "w3-button w3-half w3-indigo w3-hover-yellow" onclick="addNewDocument()"> SAVE </button>
  <button class = "w3-button w3-half w3-indigo w3-hover-yellow" onclick="modifyADocument()"> SAVE AND SUBMIT </button>
</div>
