



<div class="w3-card-4 w3-light-blue warningBox w3-third w3-center" id="saveAndSubmitDocumentWarning" style="display:none;position: fixed; width: 500px;top:50%;left: 50%;margin-top: -100px;margin-left:-250px;z-index:100">
            <p "w3-tiny w3-gray"> </p>
            <p>
            <button class = "w3-btn w3-indigo w3-hover-blue w3-border" onclick="saveDocumentAndSubmitConfirm()"> ACCEPT </button>
            <button class = " w3-btn w3-green w3-indigo w3-hover-blue w3-border" onclick="cancelWarning()"> DENIED </button>
            </p>
</div>

<div class="w3-card-4 w3-light-blue warningBox w3-third w3-center" id="saveDocumentWarning" style="display:none;position: fixed; width: 500px;top:50%;left: 50%;margin-top: -100px;margin-left:-250px;z-index: 100;">
            <p "w3-tiny w3-gray"> </p>
            <p>
            <button class = "w3-btn w3-indigo w3-hover-blue w3-border" onclick="saveDocumentConfirm()"> ACCEPT </button>
            <button class = " w3-btn w3-green w3-indigo w3-hover-blue w3-border" onclick="cancelWarning()"> DENIED </button>
            </p>
</div>