<div class="w3-display-container" style="height:300px;">
  <div class="w3-middle">
    <div class="w3-container w3-blue">
      <h2>Input Form</h2>
    </div>

    <form class="w3-container">
      <p>
      <label>Tester ID</label>
      <input class="w3-input" type="text" name="testerID"></p>
      <p>
      <label>Password</label>
      <input class="w3-input" type="password" name="password"></p>
    </form>
    <button class="w3-button w3-black" id="loginButton">Log in</button>
  </div>

</div>
