<!DOCTYPE html>
<html>
<body>
  <head>
    <% include ../partials/head %>
  </head>
  <header>
      <% include ../partials/header %>
  </header>
  <% include ../iframe/login_iframe %>
  <% include ../iframe/document_management %>
  <% include ../iframe/codemirror_iframe %>
  <footer>
      <% include ../partials/footer %>
  </footer>
</body>
</html>
