<!-- views/partials/footer.ejs -->

<div class="w3-container">
  <div class="w3-container w3-border w3-large">
    <p class="w3-center">Bui Viet Hung - MIT License <br /></p>
  </div>
</div>
<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("documentNameInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("documentInfoTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
<script src="src/codeeditor.js"></script>
<script src="src/documentManager.js"></script>
