<!DOCTYPE html>
<html>
<body>
  <head>
    <% include ../partials/head %>
  </head>
  <header>
      <% include ../partials/header %>
  </header>
<div id="test">
</div>
  <footer>
      <% include ../partials/footer %>
  </footer>
</body>
</html>
